.cartList {
  height: 65%;
  height: calc(100% - 13rem);
  width: 90%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;
  border: 1px solid #efefef;
}

.totalPrice {
  margin: 0.5rem;
}
