.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commerceHeader {
  background: var(--color-primary);
  color: var(--color-secondary);
  padding-top: 6rem;
  padding-bottom: 2rem;
  text-align: center;
}

.commerceHeader img {
  max-height: 10rem;
  max-width: 15rem;
  border-radius: 1rem;
}

.commerceBody {
  background: var(--color-bg);
  flex: 1;
}

.commerceBody .container {
  display: grid;
  grid-template-columns: 1fr;
}
