.header {
  border-bottom: 1px solid #eaeaea;
  padding: 1rem;
  position: fixed;
  height: 3.5rem;
  width: 100vw;
  background-color: white;
  color: var(--text-color);
  --text-color: green;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1rem;
  line-height: 1;
  margin: 0;
}
